@import 'rsuite/dist/rsuite.min.css';
@import "./css/style.bundle.css";

* {
  /* font-family: 'Circular Std'; */
  font-family: 'Lexend';
}

.nav__bar {
  min-height: 60px;
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;

}
.avatar__widget{
  position: relative;
}
.avatar__menu{
  z-index: 99;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 10px;
  border-radius: 10px;
  /* left: 0px; */
  /* right: 2px; */
  /* top: 30; */
  /* left: -200; */

}


.cursor {
  cursor: pointer;
}